.pharmacy-container {
  width: 420px;
  margin: 40px auto;
  padding: 25px;
  background: lightsalmon;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.pharmacy-container h2 {
  text-align: center;
  margin: auto;
  color: #333;
  font-size: 20px;
}

/* Inputs */
.pharmacy-container input {
  padding: 10px 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
  font-size: 14px;
  transition: 0.2s ease-in-out;
}

.pharmacy-container input:focus {
  border-color: #4a90e2;
  box-shadow: 0 0 5px rgba(74, 144, 226, 0.3);
}

.pharmacy-error {
  color: red;
  font-size: 12px;
  margin-bottom: 8px;
  text-align: center;
}

/* Schedule Section */
.pharmacy-schedule {
  text-align: center;
  background: #fff3e6;
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #ccc;
}

.pharmacy-schedule h3 {
  padding-bottom: 10px;
  margin: auto;
  font-size: 16px;
}

/* Each day row */
.day-row {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

/* Checkbox + Label */
.day-row label {
  display: flex;
  align-items: center;
  gap: 8px;
  //font-weight: 500;
}

/* Time Range */
.time-range {
  //display: flex;
  //align-items: center;
  //gap: 8px;
}

.time-range input {
  //flex: 1;
}

.time-range span {
  //font-size: 13px;
  //color: #555;
}

//.pharmacy-schedule form:focus {
//  border-color: #4a90e2;
//  box-shadow: 0 0 5px rgba(74, 144, 266, 0.3);
//}

/* =====================================
              ACTION BUTTONS
   ===================================== */
.pharmacy-container .pharmacy-form-actions {
  justify-content: center; // This center the both buttons
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

/* Buttons */
.pharmacy-container .pharmacy-form-actions button {
  height: 35px;
  padding: 10px 18px;
  border: none;
  border-radius: 8px;
  font-size: 15px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

/* Primary button (Add Button) */
.pharmacy-container .pharmacy-form-actions .pharmacy-add-btn {
  background-color: #4a90e2;
  color: white;
  width: 150px;

  &:hover {
    background-color: #357ab8;
  }

  &:active {
    background: #1f5f8b;
    transform: scale(0.97);
    box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.3);
  }
}

/* Clear button */
.pharmacy-container .pharmacy-form-actions .pharmacy-clear-btn {
  background-color: #e0e0e0;
  color: #333;

  &:hover {
    background-color: #c7c7c7;
  }

  &:active {
    background: #95a5a6;
    transform: scale(0.97);
    box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.3);
  }
}

/* ===============================================
                    RESPONSIVE
   =============================================== */
@media (max-width: 768px) {
  .pharmacy-container {
    width: 90%;
  }

  .pharmacy-container {
    width: auto;
  }

  .pharmacy-container .pharmacy-form-actions {
    margin-top: 20px;
    flex-direction: column;
    width: 100%;
  }

  .pharmacy-container .pharmacy-form-actions button {
    width: 100%;
  }
}
