<div class="pharmacy-container">

  <!-- =====================================================
       TITLE
  ===================================================== -->
  <h2>Add Pharmacy</h2>

  <!-- PHARMACY NAME -->
  <input
    type="text"
    [(ngModel)]="newPharmacy.pharmacyName"
    name="pharmacyName"
    placeholder="Pharmacy name"
  />
  @if (submitted && errors.pharmacyName) {
    <div class="pharmacy-error">{{ errors.pharmacyName }}</div>
  }

  <!-- PHARMACY LOCATION -->
  <input
    type="text"
    [(ngModel)]="newPharmacy.pharmacyLocation"
    name="pharmacyLocation"
    placeholder="Pharmacy location"
  />
  @if (submitted && errors.pharmacyLocation) {
    <div class="pharmacy-error">{{ errors.pharmacyLocation }}</div>
  }

   <!-- CITY -->
  <input
    type="text"
    [(ngModel)]="newPharmacy.city"
    name="city"
    placeholder="City"
  />
  @if (submitted && errors.city) {
    <div class="pharmacy-error">{{ errors.city }}</div>
  }

  <!-- COUNTRY -->
  <input
    type="text"
    [(ngModel)]="newPharmacy.country"
    name="country"
    placeholder="Country"
  />
  @if (submitted && errors.country) {
    <div class="pharmacy-error">{{ errors.country }}</div>
  }

  <!-- CONTACT NUMBER -->
  <input
    type="tel"
    [(ngModel)]="newPharmacy.contactNumber"
    name="contactNumber"
    placeholder="Contact Number"
    (input)="onNumberInput($event)"
    inputmode="numeric"
  />
  @if (submitted && errors.contactNumber) {
    <div class="pharmacy-error">{{ errors.contactNumber }}</div>
  }

  <!-- EMAIL -->
  <input
    type="text"
    [(ngModel)]="newPharmacy.email"
    name="email"
    placeholder="Email"
  />
  @if (submitted && errors.email) {
    <div class="pharmacy-error">{{ errors.email }}</div>
  }

  <div class="pharmacy-form-actions">
    <button class="pharmacy-add-btn" (click)="createPharmacy()">Add Pharmacy</button>
    <button class="pharmacy-clear-btn" (click)="clearForm()">Clear</button>
  </div>

  <!-- POPUP DIALOG BOX -->
  <app-popup
    [visible]="popupVisible"
    [message]="popupMessage"
    [type]="popupType"
    (close)="closePopup()"
  ></app-popup>

</div>
